body{
    background-color: white;
}
.page1{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 30px;
}
.box1 {
    align-content: center;
    justify-content: center;
    text-align: center;
}
.box1 form{
    border: solid 1px black;
    padding: 27px 30px;
    width: 100%;
}
.box1 input{
    width: 300px;
    border-radius: 3px;
    border: solid 1px black;
    height: 6vh;
}
.box1 .title{
    padding-bottom: 20px;
}
.box1 .fb{
    color: darkblue;
}
.box2{
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    display: flex;
}
.box2 form{
    border: solid 1px black;
    padding: 15px 40px;
    width: 370px;
}
.acquire{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}
footer{
    text-align: center;
}
footer a{
    text-decoration: none;
    color: black;
    text-space: 20;
}
footer a:hover{
    text-decoration: underline;
}
.form_one{
    border: solid 1px black;
    text-align: center;
    padding: 15px 45px;
}
.form_one input{
    width: 100%;
    padding: 5px;
}
.form_two{
    border: solid 1px black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}
.space{
    padding-top: 20px;
}